{% comment %}
** Cart page - default view **
- Template section
{% endcomment %}
<div class="container main content">
  <a name="pagecontent" id="pagecontent"></a>
  
  <div class="section clearfix">
    <div class="sixteen columns">
      <h1>{{ 'cart.general.title' | t }}</h1>
      <div class="feature_divider"></div>
    </div>
  </div>
    
    
   
  
  {% assign shipping_value = 1000 %}
  {% assign cart_total = cart.total_price %}
  {% assign shipping_value_left = shipping_value | minus: cart_total %}
    
   {% if cart_total < 10000 %}
    <div class="shipping-progress-top medium-up--hide" style="width: 100%;">
      {% assign shippingProgress = 10000 | minus: cart_total | money %}
      <div class="filledBar">
        <div class="filling"></div>
      </div>
      <p class="cart-total" style="display: none;">{{ cart_total }}</p>
   
      <p class="text-center">You're {{ shippingProgress }} away from Free Shipping</p>
    </div>
    {% endif %}
            
            
    {% if cart_total >= 10000 %}
              
    <div class="shipping-progress-top mobile-bar medium-up--hide" >
      <div class="filledBar">
        <div class="filling all-the-way"></div>
      </div>
      <p>Congrats! You've unlocked free shipping!</p>
    </div>
    {% endif %}  
    
    
  {% if cart.item_count == 0 %} 
    <div class="sixteen columns">
      <div class="section clearfix">
        <div class="six columns  medium-down--one-whole">
          <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>
  
          <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="action_button continue-button add_to_cart">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
        </div>
        <br class="clear" />
      </div>
    </div>
  {% else %}
    <script data-cfasync="false" type="text/javascript">if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script> 
    <div id="sca-fg-owl-carousel">
      <div id="freegift_cart_container" class="sca-fg-cart-container" style="display: none;">
        <div id="freegift_message" class="owl-carousel"></div>
      </div> 
      <div id="sca-fg-slider-cart" style="display: none;">
        <div class="sca-fg-cart-title">
          <strong>Select your free gift (s)</strong>
        </div>
        <div id="sca_freegift_list" class="owl-carousel"></div>
      </div>
    </div>
    <form action="/cart" method="post" id="cart_form">
      <div class="section clearfix d-flex">
        {% assign cart_page_content = shop.metafields.sf_product_data.cart_page_content %}
        {% assign cart_page_signature = shop.metafields.sf_product_data.cart_page_signature %}
        {% assign cart_page_top_image = shop.metafields.sf_product_data.cart_page_top_image %}
        
        <div class="four columns medium-down--one-whole cart-bio">
          <div class="cart_custom custom_desktop">
            <img src="{{ cart_page_top_image }}">
            <p>{{ cart_page_content }}</p>
            <img class="signature_image" src="{{ 'susanshaw-signature-blue.png' | file_img_url : "300x" }}">
          </div>
        </div>
        
        <div class="eight columns medium-down--one-whole cart-content">
          {%- assign total_saving = 0 -%}
  
          {% for item in cart.items %}
            {% if item.variant.compare_at_price > item.variant.price %}
              {%- assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity -%}
              {%- assign total_saving = saving | plus: total_saving -%}
            {% endif %}
  
            <div class="cart__item" data-cart-item data-line-id="{{ forloop.index }}" data-variant-id="{{ item.id }}">
              <div class="one-third column medium-down--one-whole cart__item--image">
                <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                  {%
                    render 'image-element',
                    image: item.image,
                    alt: item.title,
                    object_fit: settings.align_height,
                    max_height: settings.collection_height
                  %}
                </a>
              </div>
  
              <div class="two-thirds columns medium-down--one-whole cart_content_info cart__item--content">
                <h3 class="cart__item--title">
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                </h3>
  
                {% render 'product-tags' product:item.product%}
                
                {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                  <p class="meta">
                    {% for option in item.product.options %}
                      <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                    {% endfor %}
                  </p>
                {% endunless %}
  
                {% if item.selling_plan_allocation.selling_plan %}
                  <p class="meta">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                {% endif %}
  
                {% if item.properties %}
                  <p>
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                        {% if p.last contains '/uploads/' %}
                          <div>
                            {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                          </div>
                        {% else %}
  
                        <div>
                          {{ p.first }}: {{ p.last }}
                        </div>
                      {% endif %}
                    {% endunless %}
                  {% endfor %}
                </p>
              {% endif %}
  
              {% if item.line_level_discount_allocations.size > 0 %}
                {% for discount_allocation in item.line_level_discount_allocations %}
                  {% if item.properties['FREE GIFT'] %}
                    <p class="meta cart__item--discount medium-up--hide">
                      <span class="label">{{ 'cart.general.discount' | t }}:</span>
                      {{ discount_allocation.discount_application.title }} (-
                      <span class="money">
                        {%
                          render 'price-element',
                          price: discount_allocation.amount
                        %}
                      </span>)
                    </p>
                  {% endif%}
                {% endfor %}
              {% endif %}
  

              <div class="price-qty-wrapper">
                <p class="modal_price">
                  
                  {% if item.price > 0 %}
                
                    <span class="money {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}sale{% endif %}">
                          {% if item.properties['FREE GIFT'] %}
                    {{ settings.free_price_text }}
                           <s> {%
                        render 'price-element',
                        price: item.final_price
                      %}</s>
                            {%  else %}
                    {%
                        render 'price-element',
                        price: item.final_price
                      %}
                            {%  endif %}
                    </span>
    
                    {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}
                      <span class="money was_price">
                        {%
                          render 'price-element',
                          price: item.variant.compare_at_price
                        %}
                      </span>
                    {% endif %}
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                </p>
    
                {%
                  render 'unit-price',
                  item: item,
                  variant: item.variant,
                  product: item.product,
                  class: 'cart__item-unit-price'
                %}
    
                {% if item.line_level_discount_allocations.size > 0 %}
                  {% for discount_allocation in item.line_level_discount_allocations %}
                    {% if item.properties['FREE GIFT'] %}
                    <p class="meta cart__item--discount small--hide">
                      <span class="label">{{ 'cart.general.discount' | t }}:</span>
                      {{ discount_allocation.discount_application.title }} (-
                      <span class="money">
                        {%
                          render 'price-element',
                          price: discount_allocation.amount
                        %}
                      </span>)
                    </p>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <p class="price_total">
                  <strong>{{ 'cart.general.total' | t }}:</strong>
    
                  {% if item.line_level_discount_allocations.size > 0 %}
                    <span class="money">
                     {% if item.properties['FREE GIFT'] %}
                    {{ settings.free_price_text }}
                        {% else %}
                      {%
                        render 'price-element',
                        price: item.final_line_price
                      %}
                          {% endif %}
                    </span>
                  {% endif %}
    
                  <span class="money {% if item.line_level_discount_allocations.size > 0 %}was_price{% endif %}">
                    {% if item.properties['FREE GIFT'] %}
                    {%
                      render 'price-element',
                      price: item.original_line_price
                    %}
                   {%  endif %}
                  </span>
                </p>
                {%- unless item.properties['FREE GIFT']  -%}
                <div class="product-quantity-box left">
                  <span class="ss-icon product-minus js-change-quantity" data-func="minus">
                    <span class="icon-minus"></span>
                  </span>
    
                  <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-cart-quantity-input="cart-template" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
    
                  <span class="ss-icon product-plus js-change-quantity" data-func="plus">
                    <span class="icon-plus"></span>
                  </span>
                </div>
                {% endunless %}
              </div>

              
              
  
            {%- comment -%}
              <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="cart__remove-btn" data-line-id="{{ forloop.index }}" data-remove-item="cart-template"><span class="remove-text">{{ 'cart.general.remove' | t }}</span> <span class="remove-icon"></span></a>
            {%- endcomment -%}
            </div>
          </div>
        {% endfor %}
       
        </div>
  
        <div class="four columns medium-down--one-whole cart-info">
  
          <div class="section clearfix">
            
  
  
   
            <div class="subtotal">
   {% if cart_total < 10000 %}
    <div class="shipping-progress-top small--hide">
      {% assign shippingProgress = 10000 | minus: cart_total | money %}
      <div class="filledBar">
        <div class="filling"></div>
      </div>
   
      <p>You're {{ shippingProgress }} away from Free Shipping</p>
    </div>
    {% endif %}
            
            
    {% if cart_total >= 10000 %}
              
    <div class="shipping-progress-top desktop-bar">
      <div class="filledBar">
        <div class="filling all-the-way"></div>
      </div>
      <p>Congrats! You've unlocked free shipping!</p>
    </div>
    {% endif %}
    <style>
      
      /* Hide Navigations on Desktop Only */
      @media screen and (min-width: 769px) {
        div.nav {
          display : none;
        }

        .top-bar__menu{
          visibility: hidden;
        }

        div.newsletter_section {
          display : none;
        }

        .cart .main-nav{
            justify-content: center;
        }
      }

     /* Hide Search Bar on Mobile Only */
      @media screen and (max-width: 767px) {
        #header .mobile-header .search-container-mobile{
          display: none;
        }
      }
      .desktop-bar{
        display: block;
      }
      
      .mobile-bar{
        display: none;
      }
  
      @media(max-width: 480px){
        .desktop-bar{
      display: none;
        }
  
        .mobile-bar{
          display: block;
        }
  
      }      
      
      
      .filledBar{
       max-width: 400px;
       background: #f2f2f2;
        height: 10px;
        border-radius: 20px;
        margin: 0 auto;
        position: relative;
      }
      
      .filling{
       position: absolute; 
        top: 0;
        left: 0;
        height: 10px;
        border-radius: 20px;
        background: #9CB6D2 ;
        z-index: 3;
      }
      
       .all-the-way{
        width: 100%; 
       }
      
      
      .shipping-progress-top{
        text-align: center;    
        width: 100%;
        margin: 0 20px;
   
      }
      @media screen and (min-width: 769px) {
        .shipping-progress-top{         
          margin: 0;
        }
      }
  
      .shipping-progress-top p{
        color: #000; 
         margin-top: 10px;
      font-weight: 700;
      font-size: 13px;
      }
    </style>
            
    {% if cart_total < 10000 %}
    <script{% if template contains 'product' %} type="lazyload_int"{% endif %}>
      window.addEventListener('load', function (event) {     
        var cartTotal = $('.cart-total').text();
        var shippingTotal =  10000;
        var progress = (cartTotal / shippingTotal)*100;
        if( progress !== null ){
          $('.filling').css('width', progress + '%');       
        }
      
      });
    </script>
    {% endif %}
              {% if cart.cart_level_discount_applications != blank %}
                <p class="cart_discounts js-discounts sale">
                {% for discount_application in cart.cart_level_discount_applications %}
                  <span class="right">
                    {{ discount_application.title }} (-<span class="money">{{ discount_application.total_allocated_amount | money }}</span>)
                  </span>
                {% endfor %}
                <span>{{ 'cart.general.discount' | t }}</span>
                </p>
  
              {% endif %}
  
              {% if section.settings.display_savings %}
                <p class="cart_savings sale">
                  {% if total_saving > 0 %}
                    <span class="right">
                      <span class="money">{{ total_saving | money }}</span>
                    </span>
                    <span>{{ 'layout.general.savings' | t }}</span>
                  {% endif %}
                </p>
              {% endif %}
             

     
  
              <p class="cart_subtotal js-cart_subtotal">                
                <span class="right">
                  <span class="money"><span class="ufe-cart-total-price">{{ cart.total_price | money }}</span></span>
                </span>
                <span>{{ 'cart.general.subtotal' | t }}</span>
              </p>
             
            
         {% include 'tabarnapp-active-discount' %}
              {% if settings.show_multiple_currencies %}
                <p>
                  <small>
                    {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
                  </small>
                </p>
              {% endif %}
  <!--             <style>
                .holiday-selector h3 {
                  color: #006666;
                  font-size: 24px;
  /*                 font-style: italic; */
                  font-family: "Harmonia Sans", sans-serif;
                  margin-bottom: 0;
            font-weight: 800;
                }
                .holiday-selector label {
                  color: #006666;
                  font-size: 20px;
                  font-family: "Harmonia Sans", sans-serif;
            font-weight: 800;
                }
                .holiday-selector input[type="checkbox"] {
                  width: 16px;
                  height: 16px;
                  position: relative;
                  top: 1px;
                }
                .holiday-selector .cols {
                  display: flex;  
                  flex-direction: column;
                }
                .holiday-selector .col1 {
                  padding-right: 15px;
                }
                .holiday-selector .col2 {
                  flex: 1;
                }
                label[for='note2'], label[for='note'] {
                  color: #006666;
                  margin-top: 15px;
                  text-transform: none;
                  font-size: 15px;
              }
              </style> -->
              <div style="display: none;" id="holiday-selector" class="holiday-selector">
                <h3>We want to know!</h3>
                <div class="cols">
                  <div class="col1">
                    <span>Is this for:</span>
                  </div>
                  
                  <div class="col2">              
                    <div class="cart-attribute__field" style="display: none;">
  <!--                     <input type="hidden" name="attributes[Easter]" value="No"> -->
                      <label><input id="cb-easter" class="cb--holiday" type="checkbox" name="cbEaster" value="Yes"> Easter</label>
                    </div>
                    <div class="cart-attribute__field">
  <!--                     <input type="hidden" name="attributes[MothersDay]" value="No"> -->
                      <label><input id="cb-mothersday" class="cb--holiday" type="checkbox" name="cbMothersDay" value="Yes"> Mother's Day</label>
                    </div>
                  </div>
                  
                </div>
              </div>
              {% if section.settings.display_special_instructions %}
                <label for="note2">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
                <textarea id="note2" name="note" rows="2"></textarea>
              {% endif %}
  
              {% if settings.display_tos_checkbox %}
                <p>
                  <input type="checkbox" class="tos_agree" id="cart_agree" required />
                    <label class="tos_label" for="cart_agree">
                      {{ 'cart.general.agree_to_terms_html' | t }}
                    </label>
                  {% if settings.tos_page != blank %}
                    <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                  {% endif %}
                </p>
              {% endif %}
  
              {% if section.settings.cart_message != blank %}
                <div>
                  {{ section.settings.cart_message }}
                </div>
              {% endif %}
  
              <p style="text-align:center;">
                <button type="submit" class="action_button add_to_cart add_to_cart--main" id="checkout" name="checkout">{% if settings.show_lock_icon %}<span class="icon-lock"></span>{% endif %}{{ 'cart.general.checkout' | t }}</button>
              </p>
  
              {% if settings.show_payment_button %}
                {% if content_for_additional_checkout_buttons %}
                  <div class="additional-checkout-buttons">
                    {{ content_for_additional_checkout_buttons }}
                  </div>
                {% endif %}
              {% endif %}
  
              {% if cart.item_count > 0 %}
                <div class="featured-links">
                  <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="secondary_button">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>        
      </div>
  
    {% include 'cart-shipping-calculator' %}
  {% endif %}

      {% render 'five-icons' %}
      
        <p class="sec_cart_btn">
          <button type="submit" class="action_button add_to_cart add_to_cart--main" id="checkout" name="checkout">{% if settings.show_lock_icon %}<span class="icon-lock"></span>{% endif %}{{ 'cart.general.checkout' | t }}</button>
        </p>
      </form>
  </div>
  <script>
  // $(".cb--holiday").change(function() {
  //     if(this.checked) {
  //       console.log('checked');
  //         $(this).attr('checked', 'checked');
  //     }else{
  //     	$(this).removeAttr('checked');
  //     }
  // });
  //   $('.action_button.add_to_cart--main').click(function(e){
  //     var text = '';
  //     var customer_text = $('#note2').val();
  //     var easter_text = '';
  //     var mothersday_text = '';
      
  //     console.log($('#note2'));
      
        
  //     if( $('#cb-easter').attr('checked') == 'checked' ){
  //       easter_text = 'Easter gift? YES\n';
  //     }
  //     if( $('#cb-mothersday').attr('checked') == 'checked' ){
  //     	mothersday_text ='Mothers Day gift? YES\n';
  //     }
      
      
  //     text = `${easter_text}${mothersday_text}${customer_text}`;
  //     console.log(text);
  //     $('#note2').val(text);
  //     $('#note2').text(text);
  //   });
  </script>
  <div class="cart__blocks">
    {% for block in section.blocks %}
      <div {{ block.shopify_attributes }} class="block__{{ block.type }} block__{{ block.id }}">
        {% if block.type == 'featured_collection' %}
          {% include 'include-featured-collection', type: 'block' %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  
  {% schema %}
  
  {
    "name": "Cart page",
    "class": "cart-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "display_special_instructions",
        "label": "Show \"note\" text box"
      },
      {
        "type": "checkbox",
        "id": "display_savings",
        "label": "Show total savings",
        "default": true
      },
      {
        "type": "richtext",
        "id": "cart_message",
        "label": "Cart message"
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Featured collection",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "You may also be interested in"
          },
          {
            "type": "checkbox",
            "id": "collection_description",
            "label": "Show collection description",
            "default": false
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "radio",
            "id": "collection_style",
            "label": "Collection layout",
            "default": "grid",
            "options": [
              {
                "value": "slider",
                "label": "Slider"
              },
              {
                "value": "grid",
                "label": "Grid"
              }
            ]
          },
          {
            "type": "range",
            "id": "products_per",
            "label": "Products per row",
            "min": 2,
            "max": 7,
            "step": 1,
            "default": 6
          },
          {
            "type": "range",
            "id": "products_limit",
            "label": "Limit products",
            "min": 2,
            "max": 50,
            "step": 1,
            "default": 6
          }
        ]
      }
    ]
  }
  
  {% endschema %}
  
  