<script
  type="application/json"
  data-section-type="custom-liquid"
  data-section-id="{{ section.id }}"
>
</script>

<script>   
document.addEventListener("DOMContentLoaded", function() {
 
 /* const videoWrappers = document.querySelectorAll('.card--image');

  videoWrappers.forEach(videoWrapper => {
    const video = videoWrapper.querySelector('.video-wrapper');

    videoWrapper.addEventListener('mouseenter', () => {        
      console.log("===play");
      video.play();
    });

    videoWrapper.addEventListener('mouseleave', () => {     
      console.log("===pause");      
      video.pause();
    });
  });
*/

const videoWrappers = document.querySelectorAll('.card--content');

//Autoplay in hover
videoWrappers.forEach(videoWrapper => {
  const video = videoWrapper.querySelector('.video-wrapper');

  videoWrapper.addEventListener('mouseenter', () => {
    video.play();
  });

  videoWrapper.addEventListener('mouseleave', () => {
    video.pause();
  });
});

// Add Intersection Observer to add a class when in viewport
const options = {
  root: null,
  rootMargin: '0px',
  threshold: 1, // Adjust the threshold as needed
};

const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    const video = entry.target.querySelector('.video-wrapper');

    if (entry.isIntersecting) {    
      entry.target.classList.add('in-viewport'); // Add your desired class name
      video.play();
    } else {     
      entry.target.classList.remove('in-viewport'); // Remove the class if not in the viewport
      video.pause();
    }
  });
}, options);

videoWrappers.forEach(videoWrapper => {
  observer.observe(videoWrapper);
});


}); 



</script>

<section class="section {{ section.settings.css_class }}">
  
      <div class="title-wrapper is-flex">
        <h1 class="text-center">
          {{section.settings.title}}
        </h1>
        <div class="description">
          {{section.settings.description}}
        </div>
      </div>
      <div class="card-wrapper container">    
        {%- for block in section.blocks -%}
          {%- assign video = block.settings.video -%}           
            <div class="column card-{{forloop.index}} ">
              <div class="card">
                <div class="card--content">                
                    <h2 class="text-center">{{block.settings.title}}</h2>                  
                    <div class="card--image">
                      {%
                          render 'image-element-gift-guide',
                          image: block.settings.image,
                          alt: block.settings.image.alt,
                          stretch_width: true,
                          additional_classes: 'image-front'
                      %}
                      {% if video != blank %}                  
                          <video class="video-wrapper"muted loop playsinline preload="auto" 
                            style="aspect-ratio:{{block.settings.image.aspect_ratio}};" poster="{{block.settings.video_poster | img_url: '420x'}}">
                            <source src="{{ video }}" type="video/mp4">
                          </video>                    
                      {% endif %}
                    </div>
                    <h3 class="text-center sweet-sans-pro">{{block.settings.description}}</h3>
                    <a href="{{block.settings.button_link}}" class="global-button">SHOP NOW</a>
                </div> 
              </div>
            </div>            
        {% endfor %}

        {%- comment -%}
        <div class="column">
          {%- for i in (1..3) -%}
            <div class="card">
              <div class="card--content">
                  <h2 class="text-center">The <i>Gardener</i></h2>
                  {%
                      render 'image-element-gift-guide',
                      image: 'icon-the-life-of-party.png',
                      alt: block.settings.image.alt,
                      stretch_width: true,
                      additional_classes: 'image-front'
                  %}
                  <h3 class="text-center sweet-sans-pro">She blooms where planted.</h3>
                  <a href="#" class="global-button">SHOP NOW</a>
              </div>
            </div>
          {% endfor %}
         
          
        </div>
        <div class="column">
          <div class="description">
            {{section.settings.description}}
          </div>
          {%- for i in (1..2) -%}
            <div class="card">
              <div class="card--content">
                  <h2 class="text-center">The <i>Gardener</i></h2>
                  {%
                      render 'image-element-gift-guide',
                      image: 'icon-the-life-of-party.png',
                      alt: block.settings.image.alt,
                      stretch_width: true,
                      additional_classes: 'image-front'
                  %}
                  <h3 class="text-center sweet-sans-pro">She blooms where planted.</h3>
                  <a href="#" class="global-button">SHOP NOW</a>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="column">
          {%- for i in (1..3) -%}
            <div class="card">
              <div class="card--content">
                  <h2 class="text-center">The <i>Gardener</i></h2>
                  {%
                      render 'image-element-gift-guide',
                      image: 'icon-the-life-of-party.png',
                      alt: block.settings.image.alt,
                      stretch_width: true,
                      additional_classes: 'image-front'
                  %}
                  <h3 class="text-center sweet-sans-pro">She blooms where planted.</h3>
                  <a href="#" class="global-button">SHOP NOW</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
        {%- endcomment -%}
  </div>
</section>

{% schema %}
{
  "name": "Persona Cards",
  "class": "shopify-section--persona-cards",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Descriptions"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks":[
    {
      "type": "cards",
      "name":"Cards",
      "settings":[      
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "video_poster",
          "label": "Video Poster"
        },
        {
          "type": "text",
          "id": "video",
          "label": "Video"          
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button",
          "default": "SHOP NOW"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }        
      ]
    }
  ],
  "presets": [
    {
      "name": "Persona Cards",
      "category": "Gift Guide"
    }
  ]
}

{% endschema %}